<div class="container" data-bind="with:biomarkers">

    <!-- BIOMARKER -->
    <div class="well">
        <h1 class="text-primary"><span class="fa fa-heartbeat"></span> Submit a Healthcoin<sup>&reg;</sup> Biomarker</h1>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="control-label col-sm-2" for="hcbmDate">Marker Date</label>
                <div class="col-sm-10">
                    <p><a href="#biomarkers" class="editable form-control" id="hcbmDate" data-type="date" data-bind="editable: hcbmDate" data-format="yyyy-mm-dd" data-viewformat="yyyy-mm-dd" data-title="When did you make your mark?" data-placement="bottom"></a></p>
                </div>
                <label class="control-label col-sm-2" for="hcbmEHR_Source">EHR Source</label>
                <div class="col-sm-10">
                    <p><select class="form-control" data-type="select" id="hcbmEHR_Source" data-bind="options: hcbmEHR_SourceValues, value: hcbmEHR_Source" data-title="Electronic Health Record Source"></select></p>
                </div>
                <label class="control-label col-sm-2" for="hcbmEHR_Type">EHR Type</label>
                <div class="col-sm-10">
                    <p><select class="form-control" data-type="select" id="hcbmEHR_Type" data-bind="options: hcbmEHR_TypeValues, value: hcbmEHR_Type" data-title="Electronic Health Record Type"></select></p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="hcbmA1c">A1C</label>
                <div class="col-sm-10">
                    <p><input class="slider form-control" type="text" id="hcbmA1c" value="" data-bind="sliderValue: {value: hcbmA1c, min: 2, max: 10.5, step: 0.1, precision: 1, tooltip: 'hide'}"></input> &nbsp; <b data-bind="text: hcbmA1c"></b></p>
                </div>
                <label class="control-label col-sm-2" for="hcbmTriglycerides">Triglycerides</label>
                <div class="col-sm-10">
                    <p><input class="slider form-control" type="text" id="hcbmTriglycerides" data-bind="sliderValue: {value: hcbmTriglycerides, min: 0, max: 400, step: 1, tooltip: 'hide'}"></input> &nbsp; <b data-bind="text: hcbmTriglycerides"></b></p>
                </div>
                <label class="control-label col-sm-2" for="hcbmHDL">HDL</label>
                <div class="col-sm-10">
                    <p><input class="slider form-control" type="text" id="hcbmHDL" data-bind="sliderValue: {value: hcbmHDL, min: 0, max: 100, step: 1, tooltip: 'hide'}"></input> &nbsp; <b data-bind="text: hcbmHDL"></b></p>
                </div>
                <label class="control-label col-sm-2" for="hcbmBPS">BPS</label>
                <div class="col-sm-10">
                    <p><input class="slider form-control" type="text" id="hcbmBPS" data-bind="sliderValue: {value: hcbmBPS, min: 90, max: 180, step: 1, tooltip: 'hide'}"></input> &nbsp; <b data-bind="text: hcbmBPS"></b></p>
                </div>
                <label class="control-label col-sm-2" for="hcbmBPD">BPD</label>
                <div class="col-sm-10">
                    <p><input class="slider form-control" type="text" id="hcbmBPD" data-bind="sliderValue: {value: hcbmBPD, min: 60, max: 130, step: 1, tooltip: 'hide'}"></input> &nbsp; <b data-bind="text: hcbmBPD"></b></p>
                </div>
            </div>
            <div class="form-group">
                <p align="center">Optional</p>
                <label class="control-label col-sm-2" for="hcbmDevice_Source">Wearable Device</label>
                <div class="col-sm-10">
                    <p><select class="form-control" data-type="select" id="hcbmDevice_Source" data-bind="options: hcbmDevice_SourceValues, value: hcbmDevice_Source" data-title="Select your wearable device."></select></p>
                </div>
                <label class="control-label col-sm-2" for="hcbmDevice_Steps">Steps from Device</label>
                <div class="col-sm-10">
                    <p><input class="slider form-control" type="text" id="hcbmDevice_Steps" data-bind="sliderValue: {value: hcbmDevice_Steps, min: 0, max: 10000, step: 100, tooltip: 'hide'}"></input> &nbsp; <b data-bind="text: hcbmDevice_Steps"></b></p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="hcbmScore">Biomarker Score</label>
                <div class="col-sm-10">
                    <p><span class="form-control" data-type="number" id="hcbmScore" data-bind="text: tallyScore"></span></p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary btn-lg" data-bind="disable: !$data.isDirty(), click: Reset">Reset</button> &nbsp;
                    <button type="submit" class="btn btn-primary btn-lg" data-bind="disable: !$data.isDirty() || !$data.canSend(), click: Submit">Submit</button>
                </div>
            </div>
        </form>
        <h3 align="center" data-bind="text:statusMessage"></h3>
    </div>
</div>
