<div class="container" data-bind="with:biomarkers">
    <h1>Update Your Healthcoin<sup>&reg;</sup> Bio-Stats</h1>
    <h3 align="center" data-bind="text:statusMessage"></h3>

    <!-- BIOMARKER INFORMATION -->
    <div class="col-sm-6">
        <div class="well">
            <h3><span class="fa fa-heartbeat"></span> Biomarker</h3>
            <form action="#profile" method="post">
                <div class="form-group">
                    <label>Marker Date</label>
                    <span class="form-control" data-type="date" data-bind="editable: hcbmDate" data-viewformat="yyyy-mm-dd" data-title="When did you make your mark?" data-placement="right"></span>
                    <label>EHR</label>
                    <select class="form-control" data-type="select" data-bind="options: hcbmEHR_SourceValues, value: hcbmEHR_Source"></select>
                    <label>EHR Type</label>
                    <select class="form-control" data-type="select" data-bind="options: hcbmEHR_TypeValues, value: hcbmEHR_Type"></select>
                </div>
                <div class="form-group">
                    <label>A1c</label>
                    <span class="form-control" data-type="number" data-bind="editable: hcbmA1c"></span>
                    <label>Triglycerides</label>
                    <span class="form-control" data-type="number" data-bind="editable: hcbmTriglycerides"></span>
                    <label>HDL</label>
                    <span class="form-control" data-type="number" data-bind="editable: hcbmHDL"></span>
                    <label>BPS</label>
                    <span class="form-control" data-type="number" data-bind="editable: hcbmBPS"></span>
                    <label>BPD</label>
                    <span class="form-control" data-type="number" data-bind="editable: hcbmBPD"></span>
                </div>
                <div class="form-group">
                    <label>Device</label>
                    <select class="form-control" data-type="select" data-bind="options: hcbmDevice_SourceValues, value: hcbmDevice_Source"></select>
                    <label>Steps</label>
                    <span class="form-control" data-type="number" data-bind="editable: hcbmDevice_Steps"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-default" data-bind="disable: !$data.isDirty(), click: Reset">Reset</button> &nbsp;
                    <button type="submit" class="btn btn-default" data-bind="disable: !$data.isDirty() || !$data.canSend(), click: Submit">Submit</button>
                </div>
            </form>
        </div>
    </div>

</div>
