<div class="container" data-bind="with:healthcoin">
    <h1>Welcome to Healthcoin<sup>&reg;</sup> <span data-bind="text: name"></span></h1>
    <h3 align="center" data-bind="text:statusMessage"></h3>

    <!-- HEALTHCOIN HOME -->
    <div class="col-sm-6">
        <div class="well">
            <h3><span class="fa fa-user-md"></span> Explore the Healthcoin App</h3>
            <ul>
            <li>Use the side-menu to explore the Healthcoin app features.</li>
            <li>Submit anonymous biomarkers to the Healthcoin blockchain and earn Healthcoin credits.</li>
            <li>Send Healthcoin to others on the blockchain.</li>
            <li>Receive Healthcoin from others on the blockchain by sharing your address with them.</li>
            <li>View you Healthcoin "Coinstream" history.</li>
            <li>Keep your Healthcoin profile up-to-date.</li>
    <!-- ko if: role() === 'Admin' -->
            <li>Explore the Healthcoin blockchain.</li>
    <!-- /ko -->
            </ul>
        </div>
    </div>

</div>
