<div class="container" data-bind="with: healthcoin">
    <h1>Update your Healthcoin&reg;&nbsp; bio-stats:</h1>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="control-label col-sm-2" for="txcomment">Bio-Marker:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="txcomment" data-bind="textInput:txcommentBiomarker" placeholder="Enter your bio-marker data. (e.g. Ran 1 mile)">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="recipient">Send To:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="recipient" data-bind="disable: true, textInput:recipientAddress" placeholder="HCGwFEaCKE1QB8oMi9NUSpic9qD1Cfk2Rf">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="amount">Amount:</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="amount" data-bind="disable: true, numericInput, textInput:amount" placeholder="0.0001">
            </div>
            <div class="col-sm-2">
            <select class="form-control" id="sel1" data-bind="disable: true">
                <option>HCN</option>
                <!--<option>mHCN</option>
                <option>µHCN</option>-->
            </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" data-bind="disable: !$data.canSend(), click: sendSubmit">Submit</button>
            </div>
        </div>
    </form>

</div>
