<div class="container" <span data-bind="with:profile">
    <h1>Your Healthcoin<sup>&reg;</sup> Profile</h1>
	<div class="row">
		<!-- GENERAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Profile</h3>
				<!-- ko if: User().profile -->
				<p>
					<strong>Role</strong>: <span style="float:right" data-bind="text: User().profile.role"> </span><br>
					<strong>Name</strong>: <span style="float:right" data-bind="text: User().profile.name"> </span><br>
					<strong>Email</strong>: <span style="float:right" data-bind="text: User().profile.email"> </span><br>
					<strong>Description</strong>: <span style="float:right" data-bind="text: User().profile.description"> </span><br>
					<strong>Age</strong>: <span style="float:right" data-bind="text: User().profile.age"> </span><br>
					<strong>Weight</strong>: <span style="float:right" data-bind="text: User().profile.weight"> </span><br>
					<strong>Gender</strong>: <span style="float:right" data-bind="text: User().profile.gender"> </span><br>
					<strong>Ethnicity</strong>: <span style="float:right" data-bind="text: User().profile.ethnicity"> </span><br>
					<strong>HCN Credit</strong>: <span style="float:right" data-bind="text: User().profile.credit"> </span><br>
				</p>
				<!-- /ko -->
				<!-- ko if: active_wallet -->
				<h3><span class="fa fa-money"></span> HCN Wallet</h3>
				<p>
					<strong>Node_ID</strong>: <span style="float:right" data-bind="text: active_wallet().node_id"> </span><br>
					<strong>Account</strong>: <span style="float:right" data-bind="text: active_wallet().account"> </span><br>
					<strong>Address</strong>: <span style="float:right" data-bind="text: active_wallet().address"> </span><br>
				</p>
				<!-- /ko -->
			</div>
		</div>

		<!-- LOCAL INFORMATION -->
		<!-- ko if: User().local -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-file"></span> Account</h3>
					<p>
						<strong>UID</strong>: <span style="float:right" data-bind="text: User()._id"> </span><br>
						<strong>Account</strong>: <span style="float:right" data-bind="text: User().local.username"> </span><br>
						<strong>Password</strong>: <span style="float:right">[<a href="/password">Change</a>]</span><br>
					</p>
			</div>
		</div>
		<!-- /ko -->

		<!-- FACEBOOK INFORMATION -->
		<!-- ko if: User().facebook -->
		<div class="col-sm-6">
			<div class="well">
				<h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
				<p>
					<strong>UID</strong>: <span style="float:right" data-bind="text: User().facebook.id"> </span><br>
					<strong>Token</strong>: <span style="float:right" data-bind="text: User().facebook.token"> </span><br>
				</p>
			</div>
		</div>
		<!-- /ko -->

		<!-- GOOGLE INFORMATION -->
		<!-- ko if: User().google -->
		<div class="col-sm-6">
			<div class="well">
				<h3 class="text-primary"><span class="fa fa-google-plus"></span> Google</h3>
				<p>
					<strong>UID</strong>: <span style="float:right" data-bind="text: User().google.id"> </span><br>
					<strong>Token</strong>: <span style="float:right" data-bind="text: User().google.token"> </span><br>
				</p>
			</div>
		</div>
		<!-- /ko -->

		<!-- TWITTER INFORMATION -->
		<!-- ko if: User().twitter -->
		<div class="col-sm-6">
			<div class="well">
				<h3 class="text-primary"><span class="fa fa-twitter"></span> Twitter</h3>
				<p>
					<strong>UID</strong>: <span style="float:right" data-bind="text: User().twitter.id"> </span><br>
					<strong>Token</strong>: <span style="float:right" data-bind="text: User().twitter.token"> </span><br>
				</p>
			</div>
		</div>
		<!-- /ko -->
	</div>
</div>
