<div class="container" <span data-bind="with:profile">
    <h1>Your Healthcoin<sup>&reg;</sup> Profile</h1>

	<!-- PROFILE -->
	<div class="well">
		<h3 class="text-primary"><span class="fa fa-user"></span> Profile <span style="float: right" data-bind="text: 'Credits: ' + credit()"></span></h3>
        <form action="#profile" method="post">
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" type="text" data-bind="text, textInput: name" placeholder="Enter your full name."></input><br>
                <label>Email</label>
                <input class="form-control" type="email" data-bind="email, textInput: email" placeholder="Enter your email address."></input><br>
                <label>Description</label>
                <input class="form-control" type="text" data-bind="text, textInput: description" placeholder="Describe yourself."></input><br>

                <label>Age</label>
                <input class="form-control" type="number" data-bind="numericInput, textInput: age" placeholder="How many years old are you?"></input><br>
                <label>Weight (kg)</label>
                <input class="form-control" type="number" data-bind="numericInput, textInput: weight" placeholder="How many kilograms do you weigh?"></input><br>
                <label>Waist (cm)</label>
                <input class="form-control" type="number" data-bind="numericInput, textInput: waist" placeholder="How many centimeters is your waist line?"></input><br>

                <label>Gender</label>
                <select class="form-control" data-type="select" data-bind="options: genderValues, value: gender" data-title="Select your gender."></select><br>
                <label>Ethnicity</label>
                <select class="form-control" data-type="select" data-bind="options: ethnicityValues, value: ethnicity" data-title="Select your ethnicity."></select><br>
                <label>Country</label>
                <select class="form-control" data-type="select" data-bind="options: countryValues, value: country" data-title="Select your country of origin."></select><br>
            </div>

            <div class="form-group">
				<button type="submit" class="btn btn-default" data-bind="disable: !$data.isDirty(), click: Reset">Reset</button> &nbsp;
				<button type="submit" class="btn btn-default" data-bind="disable: !$data.isDirty() || !$data.canSubmit(), click: Submit">Submit</button>
            </div>
        </form>

		<!-- ko if: active_wallet -->
		<h3 class="text-primary"><span class="fa fa-money"></span> Wallet Info</h3>
		<table width="100%">
			<tr><td width="15%"><strong>Account</strong>: </td><td><span data-bind="text: active_wallet().account"></span></td></tr>
			<tr><td width="15%"><strong>Address</strong>: </td><td><span data-bind="text: active_wallet().address"></span></td></tr>
			<tr><td width="15%"><strong>Node_ID</strong>: </td><td><span data-bind="text: active_wallet().node_id"></span></td></tr>
		</table>
		<!-- /ko -->

	<!-- LOCAL -->
	<!-- ko if: login_type() === 'local' -->
		<h3 class="text-primary"><span class="fa fa-database"></span> Signed in with Account</h3>
		<table width="100%">
			<tr><td width="15%"><strong>Account</strong>: </td><td><span data-bind="text: login_id"></span></td></tr>
			<tr><td width="15%"><strong>Password</strong>: </td><td><span>[<a href="/password">change</a>]</span></td></tr>
		</table>
	<!-- /ko -->
	<!-- FACEBOOK -->
	<!-- ko if: login_type() === 'facebook' -->
		<h3 class="text-primary"><span class="fa fa-facebook"></span> Signed in with Facebook</h3>
		<table width="100%">
			<tr><td width="15%"><strong>Account</strong>: </td><td><span><a data-bind="attr: {href: facebookUrl().concat(login_id())}" target="_blank">Facebook</a></span></td></tr>
		</table>
	<!-- /ko -->
	<!-- GOOGLE -->
	<!-- ko if: login_type() === 'google' -->
		<h3 class="text-primary"><span class="fa fa-google-plus"></span> Signed in with Google</h3>
		<table width="100%">
			<tr><td width="15%"><strong>Account</strong>: </td><td><span><a data-bind="attr: {href: googleUrl().concat(login_id()), title: Google}" target="_blank">Google</a></span></td></tr>
		</table>
	<!-- /ko -->
	<!-- TWITTER -->
	<!-- ko if: login_type() === 'twitter' -->
		<h3 class="text-primary"><span class="fa fa-twitter"></span> Signed in with Twitter</h3>
		<table width="100%">
			<tr><td width="15%"><strong>Account</strong>: </td><td><span><a data-bind="attr: {href: twitterUrl().concat(login_id()), title: Twitter}" target="_blank">Twitter</a></span></td></tr>
		</table>
	<!-- /ko -->
	</div>
</div>
