<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Healthcoin - Signup and Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="pragma" content="no-cache"/> 
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate"/> 
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Healthcoin App">
    <meta name="author" content="OnsightIT">
    <link rel="apple-touch-icon" href="images/Icon.png" />
    <link rel="shortcut icon" href="images/Icon.png">
    <link rel="icon" href="/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-editable.css">
    <!-- Bootstrap Font Awesome -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/css/theme.css">
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <div style="background: url('../images/healthcoin-logo.png') no-repeat center; height: 150px;"><span></span></div>

	<!-- SIGNUP AND LOGIN -->
    <div class="jumbotron text-center">
	    <h2>Welcome to Healthcoin</h2>
		<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
		<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
		<p><br>&mdash; Or Use &mdash;</p>
		<a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
		<a href="/auth/google" class="btn btn-primary"><span class="fa fa-google-plus"></span> Google</a>
		<a href="/auth/twitter" class="btn btn-primary"><span class="fa fa-twitter"></span> Twitter</a>
	</div>

</div>

</div>
</body>
</html>
