<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
	<title>Healthcoin - Change Password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="pragma" content="no-cache"/> 
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate"/> 
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Healthcoin App">
    <meta name="author" content="OnsightIT">
    <link rel="apple-touch-icon" href="images/Icon.png" />
    <link rel="shortcut icon" href="images/Icon.png">
    <link rel="icon" href="/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-editable.css">
    <!-- Bootstrap Font Awesome -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/css/theme.css">
</head>
<body role="document">
    <div id='wrapper'>
        <div id='page-content-wrapper'>
            <div id="main" class="container" role="main">
				<div class="well">
					<h1 class="text-primary"><span class="fa fa-sign-in"></span> Healthcoin<sup>&reg;</sup> - Change Password</h1>
					<% if (user.local.changeme) { %><h2 align=center>Required</h2><% } %>

					<!-- show any messages that come back with authentication -->
					<% if (message.length > 0) { %>
						<div class="alert alert-danger"><%= message %></div>
					<% } %>

					<!-- PASSWORD FORM -->
					<form action="/password" method="post">
						<div class="form-group">
							<label>Account</label>
							<input type="text" class="form-control" name="email" value=<%=user.local.id%>>
						</div>
						<div class="form-group">
							<label>Old Password</label>
							<input type="password" class="form-control" name="password">
						</div>
						<div class="form-group">
							<label>New Password</label>
							<input type="password" class="form-control" name="passwordNew">
						</div>
						<div class="form-group">
							<label>Repeat Password</label>
							<input type="password" class="form-control" name="passwordNewRepeat">
						</div>

						<button type="submit" class="btn btn-warning btn-lg">Change</button>
					</form>

					<div>
						<hr>
						<p>Or, go back to the <a href="/">Home</a> page.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>