<div class="container" data-bind="with:coinstream">

    <!-- COINSTREAM -->
    <div class="well">
        <h1 class="text-primary"><span class="fa fa-line-chart"></span> <span data-bind="text: first_name"></span>'s Coinstream</h1>
        <form class="form-horizontal" role="form">
            <div class="form-group">
	<!-- ko if: monthView() !== true -->
				<label class="control-label col-sm-2" for="startDate"><span class="fa fa-calendar"></span> Since Year</label>
	<!-- /ko -->
	<!-- ko if: monthView() === true -->
				<label class="control-label col-sm-2" for="startDate"><span class="fa fa-calendar"></span> For Year</label>
	<!-- /ko -->
				<div class="col-sm-4">
					<p><a href="#coinstream" class="editable form-control" id="startDate" data-type="date" data-bind="editable: startDate" data-datepicker="{ startView: 2, minViewMode: 2 }" data-format="yyyy-mm-dd" data-viewformat="yyyy" data-mode="popup" data-title="Provide a year to start searching from." data-placement="bottom"></a></p>
				</div>
				<label class="form-control-addon control-label col-sm-offset-3 col-sm-2">Month View <input type="checkbox" data-bind="checked: monthView"></label>
			</div>
	<!-- ko if: role() !== 'User' -->
            <div class="form-group">
                <label class="control-label col-sm-2" for="employer">Employer</label>
                <div class="col-sm-4">
                    <p><select class="form-control" data-type="select" id="employer" data-bind="options: profilePulldown.employerValues, value: employer"></select></p>
                </div>
                <label class="control-label col-sm-2" for="employee">Employee</label>
                <div class="col-sm-4">
	                <p><select class="form-control" data-type="select" id="employee" data-bind="options: profilePulldown.employeeValues, optionsText: 'name', optionsValue: 'id', value: employee"></select></p>
                </div>
			</div>
	<!-- /ko -->
		</form>

		<!-- Stacked charts -->
		<div id="coinstreamCharts">
			<canvas id="coinstreamChartBar" data-bind="chart: { type: 'bar', data: coinstreamData, options: coinstreamOptions }"></canvas>
		</div>
        <h3 align="center" data-bind="text:statusMessage"></h3>
    </div>
</div>
